<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mobile Device Detection for .NET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@Url.Content("/")">Device Detection</a>
                    <div class="btn-group pull-right">
                    </div>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="@Url.Content("/")">Home</a></li>
                            <li><a href="https://nuget.org/packages/ZeroProximity.DeviceDetection">Nuget</a></li>
                            <li><a href="https://github.com/brendankowitz/devicedetection">Source</a></li>
                            <li><a href="https://github.com/brendankowitz/devicedetection/issues">Report an issue</a></li>
                            <li><a href="http://www.opensource.org/licenses/mit-license.php">Open Source License</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        @RenderBody()
        <footer>
            <p></p>
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-141754-13']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</body>
</html>
